<!DOCTYPE html>
<html>
<head>
  <title>BMI Summary</title>
</head>
<body>
  <h1>BMI Summary</h1>
  <ul>
    <li>Email: <%= bmi.email %></li>
    <li>Weight: <%= bmi.weight %> kg</li>
    <li>Height: <%= bmi.height %> m</li>
    <li>BMI: <%= bmi.bmi %></li>
    <li>BMI Value: <%= bmi.bmivalue %></li>
  </ul>
</body>
</html>
